In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('API_AG.LND.AGRI.ZS_DS2_en_csv_v2_10225261.csv')
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,11.111111,11.111111,11.111111,11.111111,11.111111,...,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,NaN,NaN,NaN
1,Afghanistan,AFG,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,57.745918,57.837821,57.914407,58.010906,58.013969,...,58.067580,58.069111,58.067580,58.067580,58.067580,58.067580,58.067580,NaN,NaN,NaN
2,Angola,AGO,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,45.857063,45.881126,45.897169,45.921232,45.937274,...,46.755434,46.835646,47.316917,47.316917,47.477340,47.477340,47.477340,NaN,NaN,NaN
3,Albania,ALB,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,44.963504,44.963504,45.000000,44.890511,45.145985,...,43.843066,43.843066,43.832117,43.843066,43.332117,42.857299,42.857664,NaN,NaN,NaN
4,Andorra,AND,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,55.319149,55.319149,55.319149,55.319149,55.319149,...,44.191489,42.063830,42.063830,39.914894,40.021277,40.021277,40.021277,NaN,NaN,NaN

In [16]:
df.drop(columns=df.columns[3:-4], inplace=True)

In [19]:
df.drop(columns=df.columns[4:], inplace=True)

In [20]:
df.head()

  Country Name Country Code                      Indicator Name       2015
0        Aruba          ABW  Agricultural land (% of land area)  11.111111
1  Afghanistan          AFG  Agricultural land (% of land area)  58.067580
2       Angola          AGO  Agricultural land (% of land area)  47.477340
3      Albania          ALB  Agricultural land (% of land area)  42.857664
4      Andorra          AND  Agricultural land (% of land area)  40.021277

In [21]:
df.to_csv('agricultural_land_cleaned.csv', index=False)